body {

    max-width: 970px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffff77;
    background-size:100%;
    width: 970px;
    height: 120vh;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 8px 16px;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 40px;
}

section.bloc {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}

section.bloc img { 
    width:100px;
    border-radius: 10px;
    margin-bottom: 50px;
}

section.blocformulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 80px 0;
}

section.formulaire img {
    width: 300px;
    border-radius: 10px;
}

section.formulaire form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}

section.formulaire input {
    padding: 10px;
    font-size: 16px;
}

footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    margin-top: 60px;
    font-size: 15px;
    color: white;
}